<?xml version="1.0"?>
<config>
	<modules>
		<Obbserv_Popupcart>
		<version>1.0.0</version>
		</Obbserv_Popupcart>
	</modules>

	<frontend>
		<routers>
			<obbserv_popupcart>
				<use>standard</use>
				<args>
				<module>Obbserv_Popupcart</module>
				<frontName>popupcart</frontName>
				</args>
			</obbserv_popupcart>
		</routers>
	</frontend>
</config>
